<!-- <h3>STATE: {{count$ | async}} => D: {{doubleCount$ | async}}</h3>
<br>
<input type="text" placeholder="Enter any number" #inputVal>
<button type="button" (click)="increment(inputVal)">Increment</button>
<button type="button" (click)="decrement(inputVal)">Decrement</button>
<br> -->
<input type="text" placeholder="Enter name to update" #inputName>
<button type="button" (click)="updateName(inputName)">Submit</button>
<br>
Your updated name: {{updateUser$ | async}}

<!-- <div id="counter">
  <p id="counter-output">Counter: {{ counter() }}</p>
  <p id="counter-output">Double Counter: {{ doubleCounter() }}</p>
  <div id="counter-btns">
    <button (click)="decrement()">Decrement</button>
    <button (click)="increment()">Increment</button>
  </div>
</div>

<h2>Action Log</h2>
<ol id="log">
  <li *ngFor="let action of actions()">{{ action }}</li>
</ol> -->
