
<!-- <input type="text" placeholder="enter email" #Aemail> <br>
<input type="text" placeholder="enter password" #Apassword> <br>
<button (click)="onFireBaseSignin(Aemail.value, Apassword.value)">LOGIN</button> <br>
<button (click)="getUsers()">Get Users</button> <br>

<h3>Reigster User</h3>
<input type="text" placeholder="enter name" #fname> <br>
<input type="text" placeholder="enter email" #femail> <br>
<input type="text" placeholder="enter password" #fpassword> <br>
<button (click)="onFireBaseReg(fname.value, femail.value, fpassword.value)">submit</button>
<br>
<h3>Delete All User</h3>
<button (click)="deleteAllFBUsers()">Delete All</button>
<br><br>
<h3>SignUp</h3>
<input type="text" placeholder="enter email" #lemail> <br>
<input type="text" placeholder="enter password" #lpassword> <br>
<button (click)="onFireBaseSignup(lemail.value, lpassword.value)">submit</button>
<br><br>

<button (click)="firebaseLogout()">Logout</button> -->



<!-- <button (click)="callSimpleSubject()">Subject</button>
<button (click)="callBehaviourSubject()">Behaviour Subject</button>
<br><br>

<button (click)="getSimpleSubjectVal()">getSimpleSubjectVal</button>
<button (click)="getBehaviourSubjectVal()">getBehaviourSubjectVal</button> -->
